.top {
  border-top: 1px solid #414144;
  border-bottom: 1px solid #414144;
  background: #27272A;
}
.title {
  display: inline-block;
  border-right: 1px solid #414144;
  padding: 12px 15px;
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
}