.icons {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  padding: 2px;
  &:hover {
    border-radius: 6px;
    background: #414144;
    .trash {
      display: block;
    }
  }
}

.button {
  color: #7890B2;
}

.trash {
  display: none;
  color: #DF4444;
}