.wrapper{
  border-bottom: 1px solid #414144;
  padding-top: 14px;
  padding-bottom: 14px;
}

.icons {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  padding: 2px;
  &:hover {
    border-radius: 6px;
    background: #414144;
    .trash {
      display: block;
      cursor: pointer;
    }
  }
}

.button {
  color: #7890B2;
  cursor: pointer;
}

.trash {
  display: none;
  color: #DF4444;
}