.input {
  padding: 10px;
  width: 100%;
  border: 1px solid #414144;
  border-radius: 6px;
  background: #202124;
  color: #71717A;
  margin-bottom: 5px;

  &:disabled {
    color: #FFF;
    border: none;
  }
}